* {
  margin: 0;
  padding: 0
}

header{
  background: black;
  padding: 2em;
}
header img{
  height: 2em;
}
h1{
  padding: 1em 0;
  text-align: center;
}

footer{
  color: #6c757d;
  font-size: .8em;
  padding: 3em 0;
  text-align: center;
}

form a {
  margin-left: 5px
}